.mainWrapper {
  background-color: #3d5a80;
  margin-left: auto;
  margin-right: auto;
}

.contentWrapper {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.tempScaleWrapper {
  flex-direction: row;
}

.leftText {
  padding-right: 12px;
}

.rightText {
  padding-left: 12px;
}

.selectedText {
  color: #e0fbfc;
  font-size: 40px !important;
  border-bottom: 4px solid #e0fbfc;
  padding-left: 4px;
}

.notSelectedText {
  color: #e0fbfc;
  font-size: 40px !important;
}

.cityInputWrapper {
  justify-content: right;
  align-content: center;
}
