.editMainWrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #e0fbfc;
}

.editInnerWrapper {
  margin-left: auto;
  margin-right: auto;
}

.editMainTitle {
  font-weight: bold !important;
  font-size: 48px !important;
  color: #3d5a80 !important;
}

.editListWrapper {
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  margin-top: 24px;
  margin-bottom: 24px;
}

.editButtonWrapper {
  justify-content: left;
}

.editButton {
  background-color: #3d5a80 !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-bottom: 24px !important;
  margin-left: 24px !important;
}

.editButtonText {
  color: #e0fbfc !important;
  font-weight: bold !important;
  font-size: 16px !important;
}