.mainWrapperLength {
  background-color: #ee6c4d;
  margin-left: auto;
  margin-right: auto;
}

.contentWrapperLength {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.timeLengthWrapper {
  flex-direction: row;
}

.leftTextLength {
  padding-right: 20px;
}

.rightTextLength {
  padding-left: 20px;
}

.selectedTextLen {
  color: #e0fbfc;
  font-size: 30px !important;
  border-bottom: 4px solid #3d5a80;
  padding-left: 8px;
  padding-right: 8px;
}

.notSelectedTextLen {
  color: #e0fbfc;
  font-size: 30px !important;
}

.locationWrapper {
  justify-content: right;
  align-content: center;
  flex-direction: row;
}

.editLocationText {
  color: #e0fbfc;
  font-size: 18px;
  padding-right: 18px;
}

.editLocationIcon {
  color: #e0fbfc;
}
