.loginMainWrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #e0fbfc;
}

.loginInnerWrapper {
  margin-left: auto;
  margin-right: auto;
}

.loginMainTitle {
  font-weight: bold !important;
  font-size: 48px !important;
  color: #3d5a80 !important;
}

.loginSubTitle {
  text-align: left;
  padding-left: 16px;
  padding-top: 24px;
  font-size: 36px !important;
  font-weight: 700 !important;
  color: #3D5A80 !important;
}

.loginFormWrapper {
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  margin-top: 24px;
  margin-bottom: 24px;
}

.loginFormTitle {
  font-weight: bold !important;
  font-size: 24px !important;
  color: #3d5a80 !important;
}

.loginFormTF {
  background-color: #e0fbfc !important;
  margin-bottom: 30px !important;
}

.loginButtonWrapper {
  justify-content: center;
}

.loginButton {
  background-color: #3d5a80 !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-bottom: 24px !important;
}

.loginButtonText {
  color: #e0fbfc !important;
  font-weight: bold !important;
  font-size: 24px !important;
}

.loginNoAccButtonText {
  font-size: 20px !important;
  color: #3d5a80 !important;
}

.logoutButton {
  background-color: #3d5a80 !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.editLocationLogin {
  font-size: 24px !important;
  font-weight: 500 !important;
  color: #3D5A80 !important;
}