.mainWeatherWrapper {
  background-color: #e0fbfc;
  margin-left: auto;
  margin-right: auto;
}

.mainWeatherInfoContainer {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.mainWeatherHighlightInfo {
}

.mainWeatherSideInfo {
  background-color: #3d5a80;
}

.mainCityText {
  font-size: 48px !important;
  color: #3d5a80 !important;
}

.mainWeaterImageContainer {
  justify-content: center;
}

.mainWeatherCondContainer {
  justify-content: center;
}

.mainWeatherCondText {
  font-size: 36px !important;
  color: #3d5a80 !important;
}

.mainWeatherTempContainer {
}

.mainWeatherTempLeft {
  justify-content: center;
  padding-top: 24px;
}

.mainWeatherTempText {
  font-size: 80px !important;
  color: #3d5a80 !important;
}

.mainWeatherTempRight {
  justify-content: center;
}

.mainWeatherFeelsText {
  font-size: 36px !important;
  color: #3d5a80 !important;
}

.tableText {
  font-weight: bold !important;
  font-size: 22px !important;
}
