.NLMainBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #FFFFFF;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 20px;
}

.NLMainText {
  color: #3d5a80 !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

.NLButton {
  background-color: #3d5a80 !important;
  padding-left: 23px !important;
  padding-right: 23px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 16px !important;
}

.NLButtonText {
  color: #e0fbfc !important;
  font-weight: bold !important;
  font-size: 16px !important;
}