.settingNavMainWrapper {
  background-color: #3d5a80;
}

.settingsNavContentWrapper {
  margin-left: auto;
  margin-right: auto;
}

.settingsNavLeftText {
  padding-right: 18px;
}

.settingsNavRightText {
  padding-left: 18px;
}

.settingNavLink {
  text-decoration: none !important;
}

.settingsNavSelected {
  color: #e0fbfc;
  font-size: 24px !important;
  border-bottom: 4px solid #ee6c4d;
}

.settingsNavNotSelected {
  color: #e0fbfc;
  font-size: 24px !important;
}
