.sevenTableMainWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.sevenTitleText {
  color: #e0fbfc !important;
  font-size: 36px !important;
  padding-right: 24px;
}

.weatherDayText {
  font-size: 24px;
  font-weight: 400;
  color: #3D5A80;
  border-right: solid 2px #E0FBFC;
}

.weatherTextSmall {
  font-size: 16px;
  font-weight: 400;
  color: #3D5A80;
  border-right: solid 2px #E0FBFC;
}

.weatherTempText {
  font-size: 36px;
  font-weight: 600;
  color: #3D5A80;
  border-right: solid 2px #E0FBFC;
  padding-bottom: 10px;
}

.weatherSideText {
  font-size: 20px;
  font-weight: 400;
  color: #3D5A80;
  border-right: solid 2px #E0FBFC;
}

.weatherImgTd {
  border-right: solid 2px #E0FBFC;
  padding-bottom: 10px;
}

.weatherimg {
  height: 50px;
  width: 50px;
}