.signupMainWrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #e0fbfc;
}

.signupInnerWrapper {
  margin-left: auto;
  margin-right: auto;
}

.signupMainTitle {
  font-weight: bold !important;
  font-size: 48px !important;
  color: #3d5a80 !important;
}

.signupSubTitle {
  text-align: left;
  padding-left: 16px;
  padding-top: 24px;
  font-size: 36px !important;
  font-weight: 700 !important;
  color: #3D5A80 !important;
}

.signupFormWrapper {
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  margin-top: 24px;
  margin-bottom: 24px;
}

.signupFormTitle {
  font-weight: bold !important;
  font-size: 24px !important;
  color: #3d5a80 !important;
}

.signupFormTF {
  background-color: #e0fbfc !important;
  margin-bottom: 30px !important;
}

.signupButtonWrapper {
  justify-content: center;
}

.signupButton {
  background-color: #3d5a80 !important;
  padding-left: 23px !important;
  padding-right: 23px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-bottom: 24px !important;
}

.signupButtonText {
  color: #e0fbfc !important;
  font-weight: bold !important;
  font-size: 24px !important;
}

.signupNoAccButtonText {
  font-size: 20px !important;
  color: #3d5a80 !important;
}
