.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainProfileWrapper {
  background-color: #3d5a80;
}
.mainContentWrapper {
  width: 95% !important;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: right;
  padding-top: 8px;
  padding-bottom: 8px;
}

.signInText {
  padding-right: 8px;
  color: #ffffff;
  text-decoration: none !important;
}

.profileIcon {
  color: #ffffff;
}

.logoContainer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 31px;
  padding-bottom: 31px;
}

.modalBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 24px;
}

.modalTitle{
  text-align: center;
  color: #3d5a80 !important;
  font-weight: 700 !important;
}

.modalSubTitle{
  text-align: left;
  color: #3d5a80 !important;
  padding-left: 6px;
}

.modalSelectionTitle{
  text-align: center;
  color: #3d5a80 !important;
}

.modalGrid{
  top: 50%;
  left: 50%;
  width: 400px;
  height: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid #3d5a80;
  box-shadow: 2px 2px #3d5a80;
  cursor: pointer;
}